/* ------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

/* ------------------------------ General ---------------------------------- */


* {
    font-family: 'Quicksand', sans-serif; 
    margin: 0; 
    padding: 0;
}


/* ------------------------------ Header ---------------------------------- */

header {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 700;

    background-image: linear-gradient(to right, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  

}



/* ------------------------ All Posts - posts.jsx --------------------------- */

.postsContainer {
    text-align: center;
    
}

.postsHeader {
    font-size: 10px;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color:#8b8b8b2e; 
}

hr {
    border: 0;
    text-align: center;
    margin-bottom: 4rem;
} 

hr:before {
    content: "\2022 \2022 \2022 \2022";
    font-size: 30px;
    border-top: 1px solid;


  
    }
 




.postsList li {
    margin-bottom: 1.5rem;
    font-size: 17px;
}

.postsList li:hover {
    font-weight: bold;
    padding: 2rem;
    font-size: 115%;

    border-top: 1px solid;
        border-image-source : linear-gradient(to right, aquamarine, orangered); 
    border-image-slice : 1;
    
    border-bottom: 1px solid;
        border-image-source : linear-gradient(to right, aquamarine, orangered); 
    border-image-slice : 1;
}
    


.postsList ol {
    width: 45%;
    list-style: none;
    display: inline-block;
    text-align: left;
    padding-bottom: 4rem;
}





/* ------------------------- One Post - postID.jsx -------------------------- */


/* --------- Button ----------- */
.btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin-bottom: 3rem;
 
}
  
button {
    min-width: 150px;
    min-height: 30px;

    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 700;
  
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 15px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
  
button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(150px + 10px);
    min-height: calc(40px + 10px);
    border: 3px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

button:hover, button:focus {
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 10px; height: 10px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 250px;
    height: 160px;
    opacity: 0;
  }
}



.postIDContainer{
    padding-bottom: 4rem;
    align-items: center;
    justify-content: center;
}

.postHeader{
    padding: 0 0 1rem 3.5rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    width: 60%;
}

.postHeader h2{
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 0 0 0 0.5rem;
}

.title {
    font-size: large;
    color: #fff;
    font-weight:bold;
    display: inline-block;
    text-align: left;
    padding-bottom: 1rem;
}

.postHeader p{
    display: inline-block;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #313133;
    padding: 15px 30px;
    border-radius: 10px;

}

.postHeader p:after {
    content: ' ';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #313133 transparent;
    border-width: 21px 26px 0;
    bottom: -21px;
    left: 80%;
    /*margin-left: -26px;*/
}


.commentContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

 


.commentList li {
    padding: 1rem;
    margin: 3rem;
    width: 65%;
    list-style: none;
    margin-bottom: 3%;
    counter-increment: index; 
    display: row;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}


.commentList ol {
    width: 50%;
    display: inline-block;
    text-align: center;

    counter-reset: index; 
    text-decoration: none;
    flex-wrap: wrap;  
}    

.commentList li:hover {
    font-size: 115%;

    border-top: 1px solid;
        border-image-source : linear-gradient(to right, aquamarine, orangered); 
    border-image-slice : 1;
    
    border-bottom: 1px solid;
        border-image-source : linear-gradient(to right, aquamarine, orangered); 
    border-image-slice : 1;
}

.commentList span{
    font-weight: bolder;
}

/* ---------------------------Footer ----------------------------------------- */

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #313133;
    padding: 3rem;

}

footer h3{
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: linear-gradient(to right, aquamarine, orangered);

}

footer p {
    color:white
}

footer h3{
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        orangered 29%,
        #00FFCB 67%,
        aquamarine 100%
    );

    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

