@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

* {
    font-family: 'Quicksand', sans-serif; 
 
}

header {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 4%;
}

h1 {
    margin: 0;
    padding-top: 6%;
    
}

/*
hr {
    width: 0%;
    min-width: 20%;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid rgb(242, 15, 15);
    box-shadow: 0px 0px 0px 0px #f9f9f9;
}
*/

hr.header-line{
    width: 60%;
    height: 3px;
    border:none;
    background:linear-gradient(to right, aquamarine, orangered);
    background-size:100%;
    transform-origin: 50% 0%;
}
  
 
main{
    margin: 0;
    
}

.postContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


ol {
    counter-reset: index; 
    text-decoration: none;
    flex-wrap: wrap;  
    width: 60%;
}

li:hover {
    font-size: 130%;
    font-weight: 300;
    padding: 3%;
    border-bottom: 1px solid;
        border-image-source : linear-gradient(to right, aquamarine, orangered); 
    border-image-slice : 1;

}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    width: 100px;;
}

li {
    margin-bottom: 3%;
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}


li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 3.2rem;
    padding-right: 3%;
    text-align: right;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}



footer {
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 2rem;

    background: linear-gradient(to right, aquamarine, orangered);

}

